.links {
  display: flex;
  align-items: center;
  }

.link {
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  margin-right: 30px;
}

.link__button-login {
  border: 0;
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background-color: #3DDC84;
  min-width: 76px;
  min-height: 32px;
  border-radius: 3px;
}