.navigation {
  display: flex;
  margin-left: 64px;
  margin-bottom: 7px;
}

@media (max-width:800px) {
  .navigation {
    display: none;
  }
}

.navigation__movies {
  color: #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-left: 16px;
}

.navigation__movies:first-child{
  margin-left:0;
}

.navigation__movies:hover{
  opacity: 0.7;
}

.navigation__movies_active {
  color:  #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}


.navigation__saved {
  color: #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin-left: 16px;
}

.navigation__saved_active {
  color: #FFF;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  margin-left: 16px;
}

.navigation__saved:hover{
  opacity: 0.7;
}