.techs__botom {
  border-bottom: 1px solid #DADADA;
}

@media (max-width:550px) {
  .techs__botom {
    border-bottom: 1px solid #000;
  }
}

.techs {
  background-color: #272727;
  padding: 100px 70px;

}

@media (max-width:1000px) {
  .techs {
    padding: 90px 50px;
  }
}

@media (max-width:550px) {
  .techs {
    background-color: #202020;
    padding: 70px 14px;
  }
}

.techs__title {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin-bottom: 23px;
}

@media (max-width:550px) {
  .techs__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 23px;
  }
}

.techs__header {
  margin: 0;
  padding: 0;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: 90px;

}

@media (max-width:1000px) {
  .techs__header {
    margin-top: 80px;
  }
}


@media (max-width:550px) {
  .techs__header {
    margin-top: 60px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}


.techs__subtitle {
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin-top: 26px;
  margin-bottom: 100px;
  max-width: 460px;
}

@media (max-width:1000px) {
  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 22px;
    margin-bottom: 83px;
  }
}

@media (max-width:550px) {
  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    margin-top: 24px;
    margin-bottom: 50px;
}
}

.techs__helpers {
  padding: 0;
  margin: 0;
  display: grid;
  column-gap: 10px;
  grid-template-columns:repeat(7, 90px);
  grid-template-rows: 60px;
  justify-content: center;
}

@media (max-width:1000px) {
  .techs__helpers {
    grid-template-columns:repeat(7, 84px);
    grid-template-rows: 57px;
  }
}

@media (max-width:670px) {
  .techs__helpers {
    grid-template-columns:repeat(2, 84px);
    grid-auto-rows: 57px;
    gap: 10px;
  }
}

.techs__helpers-element {
  list-style: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  width: 90px;
  /* height: 60px; */
  background-color: #303030;
  border-radius: 10px;
  padding-top: 21px;
  padding-bottom: 21px;
}

@media (max-width:1000px) {
  .techs__helpers-element {
    width: 84px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}
